<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{'site.title'|trans}}: {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div>{% block siteTitle %}<h1>{{'site.title'|trans}}</h1>{% endblock %}</div>
        <div id="menu">{{ knp_menu_render('AppBundle:Builder:mainMenu') }}</div>
        <div id="user">
            {% block userPanel %}
                {{ include('UserBundle::user_panel.html.twig') }}               
            {% endblock %}    
        </div>
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
