<div>
    <h1>Dodatek: {{ game.title }}</h1>

        
        <p>{{ game.description }}</p>
        <ul>
            <li>Data utworzenia gry: {{  game.createDate.date|date("d.m.Y") }}.</li>
            <li>Data dodania do strony: {{ game.addDate.date|date("d.m.Y") }}, o godzinie {{ game.addDate.date|date("H:i:s") }}.</li>
            <li>Data ostatniej modyfikacji: {{ game.modDate.date|date("d.m.Y") }}, o godzinie {{ game.addDate.date|date("H:i:s") }}.</li>
            <li>Edycja gry: {{ game.edition.edition }}</li>
        </ul>
        <div><a href="{{ url('editGame', {'title' : game.title}) }}">edytuj {{game.title}}</a></div>
</div>