{% if game.gameauthorwork == true %}
    <div id="authors">
        <h4>{{ 'game.authors'|trans }}</h4>
        <div>
            <dl>
                {% if authors.author == true %}
                    <dt>{{'game.work.author'|transchoice(authors.author|length)}}:</dt>
                    {% for author in authors.author %}
                    <dd>
                        {% if loop.last %}
                            {{author}}.
                        {% else %}
                            {{author}}, 
                        {% endif %}
                    </dd>
                    {% endfor %}
                {% endif %}
                {% if authors.editor == true %}
                    <dt>{{'game.work.editor'|transchoice(authors.editor|length)}}:</dt>
                    {% for editor in authors.editor %}
                    <dd>
                        {% if loop.last %}
                            {{editor}}.
                        {% else %}
                            {{editor}}, 
                        {% endif %} 
                    </dd>
                    {% endfor %}                    
                {% endif %}                
            </dl>    
        </div>
    <div>    
{% endif %}