<div>        
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ render(controller('GameBundle:Game:commentForm', { 'id': game.id })) }}
    {% else %}
        <p>
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {{ 'comment.login_to_comment'|trans }}
        </p>
    {% endif %}
</div>
<h4>{{ 'comment.num_comments'|transchoice(game.comment|length) }}</h4>
    <div>
        {% for comment in game.comment|reverse %}
            <div>
                <a name="comment_{{ comment.id }}"></a>
                <h5>{{ 'comment.comment_author'|trans }} : {{ comment.author }} |
                    {{ comment.publishedDate.date|date("d.m.Y H:i:s") }}
                    {% if commentrate %}
                        {% for rate in commentrate %}
                            {% if rate.user == comment.author.id %}
                                | {{ 'comment.author_game_rate'|trans }} {{rate.rate}}.
                            {% else %}
                                | {{ 'comment.author_no_rate'|trans }}
                            {% endif %}                            
                        {% endfor %}
                    {% endif %}
                </h5>
            </div>
            <div>
                {{ comment.comment }}
            </div>
        {% else %}
            <div>
                <p>{{ 'comment.no_comments'|trans }}</p>
            </div>
        {% endfor %}
    </div>