<div>        
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ render(controller('GameBundle:Game:commentForm', { 'title': game.title })) }}
    {% else %}
        <p>
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {{ 'login.to_comment'|trans }}
        </p>
    {% endif %}
</div>
<h4>{{ 'game.num_comments'|transchoice(game.comment|length) }}</h4>
    <div>
        {% for comment in game.comment|reverse %}
            <div>
                <a name="comment_{{ comment.id }}"></a>
                <h5>{{ 'game.comment_author'|trans }} : {{ comment.author }} |
                    {{ comment.publishedDate.date|date("d.m.Y H:i:s") }} |
                    {% for rate in commentrate %}
                        {% if rate.user == comment.author.id %}
                            {{ 'game.comment_author_rate'|trans }} {{rate.rate}}.
                        {% else %}
                            {{ 'game.comment_author_no_rate'|trans }}
                        {% endif %}
                    {% endfor %}
                </h5>
            </div>
            <div>
                {{ comment.comment }}
            </div>
        {% else %}
            <div>
                <p>{{ 'game.no_comments'|trans }}</p>
            </div>
        {% endfor %}
    </div>