{% extends 'GameBundle::base.html.twig' %}

{% block content %}
    
    <div id="intro">    
        {% block intro %}
            {{ include('GameBundle::Game/intro_block.html.twig') }}
        {% endblock %}
    </div>    
        
    <div id="rating">    
        {% block rating %}
            {{ include('GameBundle::Game/rate_block.html.twig') }}
        {% endblock %}
    </div>
    
    <div id="game">
        {% block game %}
            {{ include('GameBundle::Game/game_block.html.twig') }}
        {% endblock %}
    </div>
    
    <div id="comments">
        {% block comments %}
            {{ include('GameBundle::Game/comment_block.html.twig') }}
        {% endblock %}
    </div>
    
    <div><a href="{{ url('editGame', {'slug' : game.slug}) }}">edytuj {{game.title}}</a></div>
{% endblock %}