{% extends 'GameBundle::base.html.twig' %}

{% block content %}
    <div id="game_header">
        {% block game_header %}
            <h2> {{ game.title }}</h2>
            <h3>{% if game.expansion %}{{'game.expanpansion_game'|trans}}{% else %}{{'game.main_game'|trans}}{% endif %}</h3>    
        {% endblock %}
    </div>    
        
    <div id="rating">    
        {% block rating %}
            {{ include('GameBundle::Game/rate_block.html.twig') }}
        {% endblock %}
    </div>
    
    <div id="game">
        {% block game %}
            {{ include('GameBundle::Game/game_block.html.twig') }}
        {% endblock %}
    </div>
    
    <div id="comments">
        {% block comments %}
            {{ include('GameBundle::Game/comment_block.html.twig') }}
        {% endblock %}
    </div>
    
    <div><a href="{{ url('editGame', {'title' : game.title}) }}">edytuj {{game.title}}</a></div>
{% endblock %}