<h2>{{ game.title }}</h2>
<h3>{% if game.expansion %}{{'game.expanpansion_game'|trans}}{% else %}{{'game.main_game'|trans}}{% endif %}</h3>
<figure>
    <a href="{{asset(game.cover, 'large')}}"><img src="{{ asset(game.cover, 'thumbnail') }}" alt="" title=""/></a>
    {#<figcaption>{{game.image}}</figcaption>#}
</figure>