{{ form_start(form, { method: 'post', action: path('new_rate', {'slug': game.slug}) }) }}
    <fieldset>
        {# Render any global form error (e.g. when a constraint on a public getter method failed) #}
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.rate, 'rate.label_content_rate') }}

            {# Render any errors for the "content" field (e.g. when a class property constraint failed) #}
            {{ form_errors(form.rate) }}

            {{ form_widget(form.rate, { attr: { rows: 10 } }) }}
        </div>

        <div>
            <button type="submit">{{ 'rate.action_add_rate'|trans }}</button>
        </div>
    </fieldset>
{{ form_end(form) }}
