<div>
    {% if game.avg %}
        <div>{{'rate.average_rate'|trans}} {{game.avg}}</div>
        <div>#{{ranking}} TOP | {{'rate.num_rate'|transchoice(game.votes)}}</dvi>
    {% else %}
       {{'rate.no_rate'|trans}}
    {% endif %}
</div>
<div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if userrate %}
            <p>{{'rate.user_rate'|trans}}: {{userrate}}</p>
            <p>{{ 'rate.user_change_rate'|trans }}</p>            
        {% else %}
            {% if game.avg %}
                <p>{{ 'rate.title_add_rate'|trans }}</p>
            {% endif %}    
        {% endif %}
        {{ render(controller('GameBundle:Game:RateForm', { 'id': game.id })) }}
    {% else %}
        <p>
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {{ 'rate.login_to_rate'|trans }}
        </p>
    {% endif %}   
</div>
