<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Maigia i Miecz{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div>{% block siteTitle %}<h1>Magia i Miecz - kOLOs edition</h1>{% endblock %}</div>
        <div id="user">
            {% block userPanel %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_user'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            {% endblock %}    
        </div>
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
